.navbar-box {
    background-color: #ac2a2a; /* change to your desired background color */
    height: 60px; /* adjust the height to match your navbar height */
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; /* make sure it's behind the navbar */
  }